<h1><%= icon('fa-solid', 'shopping-cart') %> Orders</h1>

<div class="container-fluid row">
  <% @orders.each do |order| %>
    <div class="col-sm">
      <div class="card border border-2 border-success p-1 mt-3" style="width: 18rem;">
        <div class="card-header">
          <strong>Order #<%= order.id %></strong>
        </div>
        <div class="card-body">
          <p><strong> <%= icon('fa-solid', 'shopping-cart') %> Product Name:</strong> <%= order.product_name %></p>
          <p><strong>Product Count:</strong> <%= order.product_count %></p>
          <p><strong>Customer:</strong> <%= order.customer.full_name %></p>
        </div>
        <div class="card-footer d-flex">
          <%= link_to 'Show', order_path(order), class: 'btn custom-button btn-sm me-2' %>
          <%= link_to 'Edit', edit_order_path(order), class: 'btn custom-button btn-sm me-2' %>
          <%= button_to 'Delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn custom-delete btn-sm' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Order', new_order_path, class: 'btn custom-button mt-3' %>
